(T17) #% increased Monster Movement Speed #% increased Monster Attack Speed #% increased Monster Cast Speed
(T17) #% increased number of Rare Monsters Rare Monsters each have 2 additional Modifiers
(T17) +#% Monster Physical Damage Reduction +#% Monster Chaos Resistance +#% Monster Elemental Resistances
(T17) #% of Damage Players' Totems take from Hits is taken from their Summoner's Life instead
(T17) #% chance for Rare Monsters to Fracture on death
(T17) All Monster Damage can Ignite, Freeze and Shock Monsters Ignite, Freeze and Shock on Hit
(T17) Area contains Drowning Orbs
(T17) Area contains Petrification Statues
(T17) Area contains Runes of the Searing Exarch
(T17) Area contains Unstable Tentacle Fiends
(T17) Area has patches of Awakeners' Desolation
(T17) Buffs on Players expire #% faster
(T17) Debuffs on Monsters expire #% faster
(T17) Map Boss is accompanied by a Synthesis Boss
(T17) Monster Damage Penetrates #% Elemental Resistances
(T17) Monsters Poison on Hit All Damage from Monsters' Hits can Poison Monsters have #% increased Poison Duration
(T17) Monsters cannot be Stunned Monsters' Action Speed cannot be modified to below Base Value Monsters' Movement Speed cannot be modified to below Base Value
(T17) Monsters gain #% of their Physical Damage as Extra Damage of a random Element
(T17) Monsters gain #% of Maximum Life as Extra Maximum Energy Shield
(T17) Monsters gain #% of their Physical Damage as Extra Chaos Damage
(T17) Monsters have #% increased Critical Strike Chance +#% to Monster Critical Strike Multiplier
(T17) Monsters have +1 to Maximum Endurance Charges Monsters gain an Endurance Charge when hit
(T17) Monsters have +1 to Maximum Frenzy Charges Monsters gain a Frenzy Charge on Hit
(T17) Monsters have +1 to Maximum Power Charges Monsters gain a Power Charge on Hit
(T17) Monsters have +#% chance to Suppress Spell Damage
(T17) Monsters have +#% Chance to Block Attack Damage
(T17) Monsters have #% increased Area of Effect Monsters fire 2 additional Projectiles
(T17) Monsters inflict 2 Grasping Vines on Hit
(T17) Monsters reflect #% of Physical Damage Monsters reflect #% of Elemental Damage
(T17) Monsters take #% reduced Extra Damage from Critical Strikes
(T17) Monsters' Attacks Impale on Hit When a fifth Impale is inflicted on a Player, Impales are removed to Reflect their Physical Damage multiplied by their remaining Hits to that Player and their Allies within 1.8 metres
(T17) Monsters' skills Chain 3 additional times Monsters' Projectiles can Chain when colliding with Terrain
(T17) Player Skills which Throw Mines throw 1 fewer Mine Player Skills which Throw Traps throw 1 fewer Trap
(T17) Players and their Minions deal no damage for 3 out of every 10 seconds
(T17) Players are Cursed with Vulnerability Players are Cursed with Temporal Chains Players are Cursed with Elemental Weakness
(T17) Players are Marked for Death for 10 seconds after killing a Rare or Unique monster
(T17) Players are assaulted by Bloodstained Sawblades
(T17) Players are targeted by a Meteor when they use a Flask
(T17) Players have #% less Area of Effect
(T17) Players have #% less Defences
(T17) Players have #% reduced Maximum total Life, Mana and Energy Shield Recovery per second from Leech
(T17) Players have -#% to all maximum Resistances
(T17) Players have #% reduced Action Speed for each time they've used a Skill Recently
(T17) Players' Minions have #% less Attack Speed Players' Minions have #% less Cast Speed Players' Minions have #% less Movement Speed
(T17) Rare Monsters have Volatile Cores
(T17) Rare and Unique Monsters remove #% of Life, Mana and Energy Shield from Players or their Minions on Hit
(T17) Rare monsters in area are Shaper-Touched
(T17) The Maven interferes with Players
(T17) Unique Bosses are Possessed
(T17) Unique Monsters have a random Shrine Buff
Monsters reflect #% of Elemental Damage
Monsters reflect #% of Physical Damage
Players have #% reduced effect of Non-Curse Auras from Skills
Players have -#% to all maximum Resistances
Players cannot Regenerate Life, Mana or Energy Shield
Players have #% less Recovery Rate of Life and Energy Shield
Monsters cannot be Leeched from
Monsters have #% increased Critical Strike Chance +#% to Monster Critical Strike Multiplier
Monsters deal #% extra Physical Damage as Cold
Monsters deal #% extra Physical Damage as Fire
Monsters deal #% extra Physical Damage as Lightning
Monsters gain #% of their Physical Damage as Extra Chaos Damage Monsters Inflict Withered for 2 seconds on Hit
Monsters fire 2 additional Projectiles
#% increased Monster Movement Speed #% increased Monster Attack Speed #% increased Monster Cast Speed
Unique Boss deals #% increased Damage Unique Boss has #% increased Attack and Cast Speed
Monsters have #% increased Area of Effect
Unique Boss has #% increased Life Unique Boss has #% increased Area of Effect
Monsters Poison on Hit
Monsters have a #% chance to avoid Poison, Impale, and Bleeding
Monsters' skills Chain 2 additional times
#% increased Monster Damage
Monsters have #% increased Accuracy Rating Players have -#% to amount of Suppressed Spell Damage Prevented
#% less effect of Curses on Monsters
Players are Cursed with Elemental Weakness
Players are Cursed with Enfeeble
Players are Cursed with Temporal Chains
Players are Cursed with Vulnerability
Area has patches of Burning Ground
Area has patches of Chilled Ground
Area has patches of Consecrated Ground
Area has patches of Shocked Ground which increase Damage taken by #%
Area has patches of desecrated ground
Players have #% less Armour Players have #% reduced Chance to Block
Monsters have +#% chance to Suppress Spell Damage
Monsters take #% reduced Extra Damage from Critical Strikes
Monsters gain #% of Maximum Life as Extra Maximum Energy Shield
Players gain #% reduced Flask Charges
+#% Monster Physical Damage Reduction
Monsters are Hexproof
Monsters have #% chance to Avoid Elemental Ailments
Players cannot inflict Exposure
#% more Monster Life Monsters cannot be Stunned
#% more Monster Life
+#% Monster Chaos Resistance +#% Monster Elemental Resistances
All Monster Damage from Hits always Ignites
Monsters have a #% chance to Ignite, Freeze and Shock on Hit
Monsters' Attacks have #% chance to Impale on Hit
Buffs on Players expire #% faster
Players have #% less Cooldown Recovery Rate
Area contains two Unique Bosses
Unique Bosses are Possessed
Monsters cannot be Taunted Monsters' Action Speed cannot be modified to below Base Value Monsters' Movement Speed cannot be modified to below Base Value
Players have #% less Accuracy Rating
Monsters gain a Frenzy Charge on Hit
Monsters gain a Power Charge on Hit
Monsters gain an Endurance Charge on Hit
Monsters steal Power, Frenzy and Endurance charges on Hit
Players have #% less Area of Effect
Monsters Blind on Hit
Monsters Hinder on Hit with Spells
Monsters Maim on Hit with Attacks
Area contains many Totems
Area has increased monster variety
Area is inhabited by Abominations
Area is inhabited by Animals
Area is inhabited by Cultists of Kitava
Area is inhabited by Demons
Area is inhabited by Ghosts
Area is inhabited by Goatmen
Area is inhabited by Humanoids
Area is inhabited by Lunaris fanatics
Area is inhabited by Sea Witches and their Spawn
Area is inhabited by Skeletons
Area is inhabited by Solaris fanatics
Area is inhabited by Undead
Area is inhabited by ranged monsters
#% increased number of Rare Monsters
#% increased Magic Monsters