Travel to this Map by using it in a personal Map Device. Maps can only be used once.
Modifiable only with Chaos Orbs, Vaal Orbs, Delirium Orbs and Chisels
Players in Area are #% Delirious (enchant)
Monster Pack Size:
Item Class: Maps
Monster Level:
Item Quantity:
Rarity: Unique
Rarity: Normal
Rarity: Magic
Rarity: Rare
Item Rarity:
Item Level:
Map Tier:"