$0;true;vaal;Unique Monsters drop Corrupted Items
$1;true;vaal;Atlas Passives have #% increased Effect on Area
$2;true;vaal;Map Crafting options for this Map have no cost
$3;true;vaal;Quality applies to Pack Size instead of Item Quantity
$4;true;vaal;Area is affected by # additional random Unallocated Notable Atlas Passives
$5;true;vaal;Area has # additional random Scarab effects
$6;true;vaal;Contains a Vaal Side Area
$7;true;vaal;Players' Vaal Skills do not apply Soul Gain Prevention
$8;true;vaal;Area contains an additional guarded Exquisite Vaal Vessel
$9;true;t17;#% increased Monster Movement Speed\n#% increased Monster Attack Speed\n#% increased Monster Cast Speed
$10;true;t17;#% increased Monster Damage
$11;true;t17;#% increased number of Rare Monsters Rare Monsters each have 2 additional Modifiers
$12;true;t17;#% more Monster Life
$13;true;t17;+#% Monster Physical Damage Reduction\n+#% Monster Chaos Resistance\n+#% Monster Elemental Resistances
$14;true;t17;#% of Damage Players' Totems take from Hits is taken from their Summoner's Life instead
$15;true;t17;#% chance for Rare Monsters to Fracture on death
$16;true;t17;All Monster Damage can Ignite, Freeze and Shock Monsters Ignite, Freeze and Shock on Hit
$17;true;t17;Area contains Drowning Orbs
$18;true;t17;Area contains Petrification Statues
$19;true;t17;Area contains Runes of the Searing Exarch
$20;true;t17;Area contains Unstable Tentacle Fiends
$21;true;t17;Area has patches of Awakeners' Desolation
$22;true;t17;Buffs on Players expire #% faster
$23;true;t17;Debuffs on Monsters expire #% faster
$24;true;t17;Map Boss is accompanied by a Synthesis Boss
$25;true;t17;Monster Damage Penetrates #% Elemental Resistances
$26;true;t17;Monsters Poison on Hit\nAll Damage from Monsters' Hits can Poison\nMonsters have #% increased Poison Duration
$27;true;t17;Monsters cannot be Stunned\nMonsters' Action Speed cannot be modified to below Base Value\nMonsters' Movement Speed cannot be modified to below Base Value
$28;true;t17;Monsters gain #% of their Physical Damage as Extra Damage of a random Element
$29;true;t17;Monsters gain #% of Maximum Life as Extra Maximum Energy Shield
$30;true;t17;Monsters gain #% of their Physical Damage as Extra Chaos Damage
$31;true;t17;Monsters have #% increased Critical Strike Chance\n+#% to Monster Critical Strike Multiplier
$32;true;t17;Monsters have +1 to Maximum Endurance Charges\nMonsters gain an Endurance Charge when hit
$33;true;t17;Monsters have +1 to Maximum Frenzy Charges\nMonsters gain a Frenzy Charge on Hit
$34;true;t17;Monsters have +1 to Maximum Power Charges\nMonsters gain a Power Charge on Hit
$35;true;t17;Monsters have +#% chance to Suppress Spell Damage
$36;true;t17;Monsters have +#% Chance to Block Attack Damage
$37;true;t17;Monsters have #% increased Area of Effect\nMonsters fire 2 additional Projectiles
$38;true;t17;Monsters inflict 2 Grasping Vines on Hit
$39;true;t17;Monsters reflect #% of Physical Damage\nMonsters reflect #% of Elemental Damage
$40;true;t17;Monsters take #% reduced Extra Damage from Critical Strikes
$41;true;t17;Monsters' Attacks Impale on Hit\nWhen a fifth Impale is inflicted on a Player, Impales are removed to Reflect their Physical Damage multiplied by their remaining Hits to that Player and their Allies within 1.8 metres
$42;true;t17;Monsters' skills Chain 3 additional times\nMonsters' Projectiles can Chain when colliding with Terrain
$43;true;t17;Player Skills which Throw Mines throw 1 fewer Mine\nPlayer Skills which Throw Traps throw 1 fewer Trap
$44;true;t17;Players and their Minions deal no damage for 3 out of every 10 seconds
$45;true;t17;Players are Cursed with Vulnerability\nPlayers are Cursed with Temporal Chains\nPlayers are Cursed with Elemental Weakness
$46;true;t17;Players are Marked for Death for 10 seconds\nafter killing a Rare or Unique monster
$47;true;t17;Players are assaulted by Bloodstained Sawblades
$48;true;t17;Players are targeted by a Meteor when they use a Flask
$49;true;t17;Players have #% less Area of Effect
$50;true;t17;Players have #% less Defences
$51;true;t17;Players have #% reduced Maximum total Life, Mana and Energy Shield Recovery per second from Leech
$52;true;t17;Players have -#% to all maximum Resistances
$53;true;t17;Players have #% reduced Action Speed for each time they've used a Skill Recently
$54;true;t17;Players' Minions have #% less Attack Speed\nPlayers' Minions have #% less Cast Speed\nPlayers' Minions have #% less Movement Speed
$55;true;t17;Rare Monsters have Volatile Cores
$56;true;t17;Rare and Unique Monsters remove #% of Life, Mana and Energy Shield from Players or their Minions on Hit
$57;true;t17;Rare monsters in area are Shaper-Touched
$58;true;t17;The Maven interferes with Players
$59;true;t17;Unique Bosses are Possessed
$60;true;t17;Unique Monsters have a random Shrine Buff
$61;true;Monsters reflect #% of Elemental Damage
$62;true;Monsters reflect #% of Physical Damage
$63;true;Players have #% reduced effect of Non-Curse Auras from Skills
$64;true;Players have -#% to all maximum Resistances
$65;true;Players cannot Regenerate Life, Mana or Energy Shield
$66;true;Players have #% less Recovery Rate of Life and Energy Shield
$67;true;Monsters cannot be Leeched from
$68;true;Monsters have #% increased Critical Strike Chance\n+#% to Monster Critical Strike Multiplier
$69;true;Monsters deal #% extra Physical Damage as Cold
$70;true;Monsters deal #% extra Physical Damage as Fire
$71;true;Monsters deal #% extra Physical Damage as Lightning
$72;true;Monsters gain #% of their Physical Damage as Extra Chaos Damage\nMonsters Inflict Withered for 2 seconds on Hit
$73;true;Monsters fire 2 additional Projectiles
$74;true;#% increased Monster Movement Speed\n#% increased Monster Attack Speed\n#% increased Monster Cast Speed
$75;true;Unique Boss deals #% increased Damage\nUnique Boss has #% increased Attack and Cast Speed
$76;true;Monsters have #% increased Area of Effect
$77;true;Unique Boss has #% increased Life\nUnique Boss has #% increased Area of Effect
$78;true;Monsters Poison on Hit
$79;true;Monsters have a #% chance to avoid Poison, Impale, and Bleeding
$80;true;Monsters' skills Chain 2 additional times
$81;true;#% increased Monster Damage
$82;true;Monsters have #% increased Accuracy Rating\nPlayers have -#% to amount of Suppressed Spell Damage Prevented
$83;true;#% less effect of Curses on Monsters
$84;true;Players are Cursed with Elemental Weakness
$85;true;Players are Cursed with Enfeeble
$86;true;Players are Cursed with Temporal Chains
$87;true;Players are Cursed with Vulnerability
$88;true;Area has patches of Burning Ground
$89;true;Area has patches of Chilled Ground
$90;true;Area has patches of Consecrated Ground
$91;true;Area has patches of Shocked Ground which increase Damage taken by #%
$92;true;Area has patches of desecrated ground
$93;true;Players have #% less Armour\nPlayers have #% reduced Chance to Block
$94;true;Monsters have +#% chance to Suppress Spell Damage
$95;true;Monsters take #% reduced Extra Damage from Critical Strikes
$96;true;Monsters gain #% of Maximum Life as Extra Maximum Energy Shield
$97;true;Players gain #% reduced Flask Charges
$98;true;+#% Monster Physical Damage Reduction
$99;true;Monsters are Hexproof
$100;true;Monsters have #% chance to Avoid Elemental Ailments
$101;true;Players cannot inflict Exposure
$102;true;#% more Monster Life\nMonsters cannot be Stunned
$103;true;#% more Monster Life
$104;true;+#% Monster Chaos Resistance\n+#% Monster Elemental Resistances
$105;true;All Monster Damage from Hits always Ignites
$106;true;Monsters have a #% chance to Ignite, Freeze and Shock on Hit
$107;true;Monsters' Attacks have #% chance to Impale on Hit
$108;true;Buffs on Players expire #% faster
$109;true;Players have #% less Cooldown Recovery Rate
$110;true;Area contains two Unique Bosses
$111;true;Unique Bosses are Possessed
$112;true;Monsters cannot be Taunted\nMonsters' Action Speed cannot be modified to below Base Value\nMonsters' Movement Speed cannot be modified to below Base Value
$113;true;Players have #% less Accuracy Rating
$114;true;Monsters gain a Frenzy Charge on Hit
$115;true;Monsters gain a Power Charge on Hit
$116;true;Monsters gain an Endurance Charge on Hit
$117;true;Monsters steal Power, Frenzy and Endurance charges on Hit
$118;true;Players have #% less Area of Effect
$119;true;Monsters Blind on Hit
$120;true;Monsters Hinder on Hit with Spells
$121;true;Monsters Maim on Hit with Attacks
$122;true;Area contains many Totems
$123;true;Area has increased monster variety
$124;true;Area is inhabited by Abominations
$125;true;Area is inhabited by Animals
$126;true;Area is inhabited by Cultists of Kitava
$127;true;Area is inhabited by Demons
$128;true;Area is inhabited by Ghosts
$129;true;Area is inhabited by Goatmen
$130;true;Area is inhabited by Humanoids
$131;true;Area is inhabited by Lunaris fanatics
$132;true;Area is inhabited by Sea Witches and their Spawn
$133;true;Area is inhabited by Skeletons
$134;true;Area is inhabited by Solaris fanatics
$135;true;Area is inhabited by Undead
$136;true;Area is inhabited by ranged monsters
$137;true;#% increased number of Rare Monsters
$138;true;#% increased Magic Monsters